@import url('header.css');

.swiper {
    width: 100%;
    height: 90%;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: var(--white);
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 5rem;
            margin-top: 1rem;
        }
    }
}

@media (min-width: 48em) {
    .swiper {
        height: 100%;

        .swiper-slide {

            img {
                padding-top: 4rem;
                height: 100%;
            }
        }
    }
}

.consultation {
    background: var(--lightgray);
    padding: 5rem 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .consultation-details {
        text-align: left;

        i {
            margin: 0 1rem;
        }

        h2 {
            font-size: var(--h2);
            color: var(--navyblue);
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        h4 {
            font-size: var(--h4);
            color: var(--navyblue);
            margin-bottom: 1rem;
        }

        .consult-app {
            color: var(--navyblue);
            display: block;

            img {
                margin-left: 1rem;
                width: 8rem;
            }
        }
    }

    .consultation-desc {
        background: var(--white);
        padding: 2rem 2rem;
        border-radius: 20px;

        h2 {
            font-size: var(--h2);
            color: var(--navyblue);
            margin-bottom: 1rem;
        }

        h4 {
            font-size: var(--h4);
            margin-top: 1rem;
            font-weight: 500;
            color: var(--navyblue);
        }
    }

    .consultation-account {
        text-align: center;

        p {
            font-size: var(--p);
            color: var(--navyblue);
            margin-top: 1rem;
        }

        button {
            padding: 12px 80px;
            margin: 1rem .5rem;
        }

        .messenger-btn {
            background: #0183FF;
            border: 0;
            border-radius: 10px;
            padding: 1rem 3rem;
            color: var(--white);
            font-size: var(--p);
            cursor: pointer;

            &:hover {
                background: var(--navyblue);
                color: var(--white);
            }

            .fa-facebook-messenger {

                &:before {
                    padding: 0 1rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .consultation {
        display: block;
        padding: 2rem 1rem;

        .consultation-img {

            img {
                width: 100%;
            }

            .consult-app {
                display: block;

                img {
                    width: 5.5rem;
                    margin-bottom: 1rem;
                }
            }
        }

        .consultation-desc {
            text-align: center;
            margin-top: 2rem;

            button {
                width: 100%;
            }

            .consultation-account {

                .messenger-btn {
                    padding: 1rem 1rem;
                }
            }
        }
    }
}

.about {
    padding: 5rem 10%;
    text-align: center;

    .about-desc {

        h1 {
            font-size: var(--h1);
            text-transform: uppercase;
            font-weight: 800;
            color: var(--navyblue);
            padding-bottom: 1rem;
        }

        p {
            font-size: var(--p);
        }
    }

    .about-img {

        img {
            width: 25rem;
            margin-top: 1rem;
            padding: 1rem 1rem;
        }
    }

    .about-core {
        padding-top: 1rem;

        h1 {
            font-size: var(--h2);
            text-transform: uppercase;
            color: var(--navyblue);
            font-weight: 700;
            padding-bottom: 1.5rem;
            padding-top: 1rem;
        }

        .core-values {
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            padding: 1rem 0;

            .core-img {

                img {
                    width: 20rem;
                    border-radius: 50%;
                }
            }

            .core-desc {
                text-align: left;
                margin-left: 4rem;
                line-height: 2.3;
                color: var(--navyblue);
                display: grid;
                justify-content: start;

                .core1, .core2, .core3, .core4, .core5, .core6 {
                    display: flex;
                    justify-content: left;

                    i {
                        font-size: 2.5rem;
                        border-radius: 50%;

                    }

                    p {
                        margin-left: 1rem;
                        font-size: var(--p);
                    }
                }

                p {
                    font-size: var(--p);
                }

                b {
                    font-weight: 800;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .about {
        padding: 2rem 1rem;

        .about-img {
            
            img {
                width: 100%;
            }
        }

        .about-core {

            .core-values {
                display: flex;
                flex-direction: column;

                .core-img {

                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }

                .core-desc {
                    margin: 0;
                    order: 1;
                    padding-top: 2rem;
                }
            }
        }
    }
}

.message {

    .message-desc {
        background: var(--navyblue);
        text-align: center;
        padding: 1.5rem 10%;

        p {
            color: var(--white);
            font-size: var(--p);
            margin-bottom: 1rem;
        }

        button {
            background: var(--white);
            padding: 1rem 3rem;
            border: 0;
            transition: all .45s ease;
            border-radius: 10px;

            &:hover {
                background: var(--black);
                color: var(--white);
            }

            .fa-facebook-messenger {

                &:before {
                    margin: 0 .5rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .message {

        .message-desc {
            display: block;
            padding: 2rem 1rem;

            p {
                padding-bottom: 2rem;
                margin: 0;
            }
        }
    }
}

.services {
    height: 100%;
    padding: 5rem 10%;
    text-align: center;
    color: var(--navyblue);

    .services-desc {

        h1 {
            font-size: var(--h1);
            text-transform: uppercase;
            color: var(--navyblue);
            font-weight: 700;
            padding-bottom: 1.5rem;
        }

        p {
            font-size: var(--p);
            color: var(--black);
        }
    }
    
    .services-img {
        padding-top: 2rem;

        img {
            width: 20rem;
            padding: 1rem 1rem;
            transition: all .45s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 768px) {
    .services {
        padding: 2rem 1rem;

        .services-img {

            img {
                width: 8rem;
                padding: 0;
                margin: 1rem 1rem;
            }
        }
    }
}

.doctor {
    padding: 5rem 10%;
    text-align: center;
    color: var(--navyblue);
    background: var(--lightgray);

    .doctor-desc {

        h1 {
            font-size: var(--h1);
            text-transform: uppercase;
            color: var(--navyblue);
            font-weight: 700;
            padding-bottom: 1.5rem;
        }
    }

    .doctor-img {
        padding-top: 2rem;

        img {
            width: 15rem;
            margin: 1rem 1rem;
            transition: all .45s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 768px) {
    .doctor {
        padding: 2rem 1rem;

        .doctor-img {

            img {
                width: 8rem;
                margin: 1rem 1rem;
            }
        }
    }
}

.appointment {
    padding: 5rem 10%;
    text-align: center;

    .appointment-desc {

        img {
            width: 100%;
        }
    
        h1 {
            font-size: var(--h1);
            text-transform: uppercase;
            color: var(--navyblue);
            font-weight: 700;
            padding-bottom: 1rem;
        }

        .appointment-steps {
            line-height: 1.5;
            text-align: left;
            padding: 0 20%;

            b {
                font-weight: 800;
                font-size: var(--h1);
            }

            p {
                margin-left: 1rem;
                font-size: var(--p);
                color: var(--navyblue);
            }
        }

        .appointment-instruction {
            text-align: center;
            margin: 2rem 0;

            h6 {
                text-align: center;
                font-style: italic;
                font-size: var(--p);
                color: var(--navyblue);
            }
        }
    }

    .appointment-form {

        .appointment-img {

            img {
                width: 100%;
            }
        }

        p {
            margin-top: 1rem;
            font-size: var(--p);
        }
    }

    .appointment-rate {
        margin-top: 2rem;

        h2 {
            font-size: var(--h2);
            text-transform: uppercase;
            color: var(--navyblue);
            font-weight: 700;
            padding-bottom: 1.5rem;
        }

        p {
            font-size: var(--p);
        }

        .message-us {
            padding: 1rem 3rem;
            margin-top: 2rem;
            border-radius: 10px;
            background: var(--navyblue);
            color: var(--white);
            border: 0;
            cursor: pointer;
            font-size: var(--p);
            transition: all .45s ease;

            &:hover {
                background: var(--black);
            }

            i {
                margin-right: 1rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .appointment {
        padding: 2rem 1rem;

        .appointment-desc {

            .appointment-steps {
                padding: 0;
            }
        }

        .appointment-form {
            display: block;
            }
        }
    }

.payment {
    padding: 5rem 10%;
    text-align: center;

    .payment-desc {

        h1 {
            font-size: var(--h1);
            text-transform: uppercase;
            color: var(--navyblue);
            font-weight: 700;
            padding-bottom: 1.5rem;
        }
    }

    .payment-img {
        padding-top: 1rem;

        img {
            width: 15rem;
            margin: 1rem 1rem;
            object-fit: cover;
        }
    }
}

@media (max-width: 768px) {
    .payment {
        padding: 2rem 1rem;

        .payment-img {

            img {
                width: 8rem;
                margin: 1rem 1rem;
            }
        }
    }
} 

.certificate {
    padding: 5rem 10%;
    text-align: center;
    background: var(--lightgray);

    .certificate-desc {

        h1 {
            font-size: var(--h1);
            text-transform: uppercase;
            color: var(--navyblue);
            font-weight: 700;
            padding-bottom: 1.5rem;
        }

        img {
            width: 16rem;
            margin: 0 1rem;
        }

        p {
            font-size: var(--p);
            text-align: left;
            margin-top: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .certificate {
        padding: 2rem 1rem;

        .certificate-desc {

            img {
                width: 8rem;
                padding: 0;
                margin: 0.5rem 0.5rem;
            }

            p {
                line-height: 2;
            }
        }
    }
}

.container {
    padding: 5rem 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: var(--h1);
        text-transform: uppercase;
        color: var(--navyblue);
        font-weight: 700;
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .reviews {
        margin-top: 1rem;
        position: relative;
        width: 100%;
        overflow: hidden;
        row-gap: 30px;
    
        .review-content {
    
            .slide {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                row-gap: 30px;
                width: 5rem;
                background: url('/img/bg.png');
                padding: 2rem 2rem;
                margin-top: 1rem;
                color: var(--navyblue);

                img {
                    width: 8rem;
                }

                h2 {
                    font-size: var(--h2);
                    text-transform: uppercase;
                }

                p {
                    text-align: center;
                    padding: 0 120px;
                    font-size: var(--p);
                    font-weight: 400;
                    font-style: italic;
                    color: var(--navyblue);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        padding: 2rem 1rem;

        .reviews {
            padding: 1rem 1rem;
            margin: 0;

            .review-content {

                .slide {
                    row-gap: 10px;
                    padding: 0;
                    height: 27rem;
                    border-radius: 10px;

                    p {
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
}

.footer {
    padding: 5rem 10%;
    color: var(--navyblue);

    h3 {
        font-size: var(--h3);
        text-transform: uppercase;
        padding-bottom: 1rem;
    }

    p {
        font-size: var(--p);
    }

    a {
        color: var(--navyblue);
    }

    .footer-desc {
        display: flex;
        justify-content: space-around;

        .footer-img {
        
            img {
                width: 10rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 2rem 1rem;
        text-align: left;

        h3 {
            padding-top: 1rem;
        }

        .footer-desc {
            display: block;
            line-height: 2.1;
            justify-content: space-around;
        }
    }
}

.foot {

    .footer-copyright {
        padding: 1rem 1rem;
        background: var(--navyblue);
        color: var(--white);
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
            font-size: var(--p);
            font-weight: 700;
        }

        a {
            color: var(--lightblue);
        }

        .social-media {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin-left: 1rem;
                color: var(--white);
                padding: 12px;
                border-radius: 50%;
                transition: all .45s ease;

                &:hover {
                    color: var(--lightblue);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .foot {
        text-align: center;

        .footer-copyright {
            display: block;
            line-height: 3rem;

            .social-media {
                display: block;

                a {
                    padding: 8px;
                }
            }
        }
    }
}